<ul >
  {{#events}}
    <li>
   
        <h2>{{ title }}</h2>
        <p>{{ description }}</p>
         <p>{{ company }}</p>
         <button type="button" class="btn btn-primary">Like</button>
         <h3>Add a comment : </h3>
            <input type="text" id="comment" name="comment" value="Comment"><br/>
     
    </li>
  {{/events}}
</ul>