<ul >
  {{#events}}
    <li>
   
        <h2>{{ title }}</h2>
        <p>{{ description }}</p>
         <p>{{ company }}</p>
         <button type="button" class="btn btn-primary">Like</button>
         <table>
        <tr>
        <td><button type="button" class="btn btn-primary">Like</button></td>
        <td>Add a Comment</h4></td>
                <form action="/addComment" method="post">
                    <input name="comment" type="text" />
                    <input name="Save" type="submit" value="Comment"/>
                </form>
        
        </tr>
        <tr>        
                <form action="/addResume" method="POST">
                    <input type="file" id="myFile" name="filename">
                    <input type="submit">
                </form>
        </tr>
        </table> 
    </li>
  {{/events}}
</ul>